body{
    height: 180px;
    background: linear-gradient(grey, lightgrey);
}
#sentence1{
    position:absolute;
    left:550px;
    top:80px;
    text-indent: 5em;
    word-spacing: 300px;
    color: black;
    font: bold 30px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}

#sentence2{
    position:absolute;
    left:800px;
    top:80px;
    text-indent: 5em;
    word-spacing: 300px;
    color: black;
    font: bold 30px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}
#logout{
    position:absolute;
    right:5px;
    top:5px;
    color: black;
    text-indent: 5em;
    word-spacing: 300px;
    font-family: 黑体;
    font-size:20px;
}
#school_picture{
    position:absolute;
    top: 40px;
    left:50px;
    height:120px;
    width:500px;
}
#dududujunping{
    position:absolute;
    top: 25px;
    right: 250px;
    height: 150px;
}
.noent
{
    float:left;
}

